name: Deno Deploy

on:
  workflow_dispatch:
  push:
  delete:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    environment: ${{ (github.event.ref == 'refs/heads/main' || github.ref == 'refs/heads/main' || github.event.workflow_run.head_branch == 'main' || github.event.ref == 'refs/heads/demo' || github.ref == 'refs/heads/demo' || github.event.workflow_run.head_branch == 'demo') && 'main' || 'development' }}
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - uses: ubiquity-os/deno-plugin-adapter@main
        id: adapter
        with:
          pluginEntry: "./worker"
      - uses: ubiquity-os/deno-deploy@feat/320-artifact-manifest-branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KERNEL_PUBLIC_KEY: ${{ secrets.KERNEL_PUBLIC_KEY }}
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
          USER_GITHUB_TOKEN: ${{ secrets.USER_GITHUB_TOKEN }}
        with:
          sourceRef: ${{ github.event.ref || github.event.workflow_run.head_branch || github.ref_name }}
          artifactPrefix: dist/
          token: ${{ secrets.DENO_DEPLOY_TOKEN }}
          action: ${{ github.event_name == 'delete' && 'delete' || 'deploy' }}
          organization: ${{ secrets.DENO_ORG_NAME }}
          entrypoint: ${{ steps.adapter.outputs.entrypoint }}
